@font-face {
    font-family: "cmu-serif";
    src: url(https://eight1911.github.io/resources/fonts/cmu.ttf);
}
@font-face {
    font-family: "cmu-serif";
    font-weight: bold;
    src: url(https://eight1911.github.io/resources/fonts/cmu-bold.ttf);
}

html, body {
    min-width: 51em;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "cmu-serif";
}

section, div, tr, td, th, table {
    /*/ border: solid thin; /**/
}

section.wrap {
}
section.wrapin {
    display: table;
    margin: auto;
}

section.main {
    opacity: 1;
    display: table-cell;
    vertical-align: middle;
    width: 51em;
    padding: 5em;
}


p1, p2, p3, p4, p5 {
    font-family: "cmu-serif";
    font-weight: bold;
}

p1 { font-size: 150%; }
p2 { font-size: 130%; }
p3 { font-size: 110%; }
p4 { font-size: 100%; }
p5 { font-size: 100%; }
p6 { font-size: 90%; }
p7 { font-size: 85%; }
a { cursor: pointer; }

div.head {
    display: inline-block;
    width: 51em;

    border-bottom: solid 0.2em;

    margin: 0.1em 0em 0.6em  0em;
    padding: 0em 0.75em;
}

div.space {
    display: inline-block;
    width: 0.4em;
}

div.indent {
    display: inline-block;
    width: 1em;
}

table.summary {
    width: 45em;
}

table {
    width: 51em;
    border: collapse;
    text-align: left;
}

td.date {
    width: 9em;
}

td.exp {
    padding: 0.15em 10em 0.45em  2.5em;
}

tr, td, th, table {
    border-collapse: collapse;
    padding: 0em  0em 0em 1.5em;
}

a {
    color: #1F75FE;
    text-decoration: none;
}
